<h3>Hi <%= @email %>,</h3>
Your request for a storefront was not approved.
<br>
Even though we couldn't approve your request at this time, we encourage you to keep selling and
growing your brand on Shoppr!
If you believe this decision was made in error, you can <%= link_to "appeal this rejection", root_path%>.
<br>
