<div class="row d-flex justify-content-center align-items-center">
  <div class="col-sm-10 col-md-7 col-lg-6">
    <div class="card p-5">
      <h1 class="text-center mb-3">Reset Your Password</h1>
      <%= bootstrap_form_for @user, url: forgot_password_reset_submit_path(token: params[:token]), method: :post, local: true, class: "px-3 py-1" do |f| %>
        <div class="row">
          <%= f.password_field :password, label: "New Password", placeholder: "Password",  help: "Must be at least 8 characters long<br>Must contain at least one capital letter<br>Must contain at least one special character<br>Must contain at least on number".html_safe %>
          <%= f.password_field :password_confirmation, label: "Confirm New Password", placeholder: "Password" %>
          <div class="d-flex justify-content-center mt-4">
            <%= f.submit "Submit", extra_class: "btn-lg w-75" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
