<div class="container mt-5">
  <h1 class="mb-4">Storefronts</h1>
  <div class="row">
    <% if @storefronts.present? %>
      <% @storefronts.each do |storefront| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= link_to storefront.user.full_name + "'s Storefront", storefront_path(storefront.id) %></h5>
              <p class="card-text">Storefront Description: to be implemented</p>
              <p class="card-text">Other storefront features: to be implemented</p>
            </div>
          </div>
        </div>
        <% end %>
    <% else %>
      <div class="col-md-12">
        <p>There are no storefronts to display.</p>
      </div>
    <% end %>
  </div>
</div>