<h1>Delete Price Alert</h1>
<p>Are you sure you want to delete your price alert?</p>
<%= form_with(model: @price_alert, method: :delete, url: price_alert_path(@price_alert)) do |f| %>
  <%= f.submit "Delete Price Alert", class: "btn btn-danger" %>
<% end %>