<% if product.quantity > 1 %>
  <div class="listing-row">
    <%= form.label :quantity, "Quantity:", class: "listing-label col-form-label" %>
    <div class="col-2">
      <%= form.text_field :quantity, value: 1, class: "form-control", size: 3 %>
    </div>
    <div class="col-4">
      <small class="form-text mt-0">
        There are <%= product.quantity %> available.
      </small>
    </div>
  </div>
<% else %>
  <%= form.hidden_field :quantity, value: 1 %>
<% end %>
