<%= f.fields_for :promotionable_attributes do |pf| %>
  <div class="d-none"
       data-type="Promotion::<%= type %>"
       data-promotion-form-target="typeForm">
   <%= yield pf %>
  </div>
<% end %>
