/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "rails_bootstrap_forms";


// Any .bd-* comment refers to CSS classes taken from the Bootstrap docs' CSS

.selt-gutter { // .bd-gutter
    --bs-gutter-x: 3rem;
}

.selt-badge {
    --bs-badge-padding-x: 0.5em;
    --bs-badge-font-size: 0.65em
}

.top-15 {
    top: 15% !important;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropstart:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu-start:hover > .dropdown-item {
    display: block;
}

.btn-earthy {
    background-color: #8B4513;
    border-color: #8B4513;
    color: #FFF;
}

.btn-earthy:hover {
    background-color: #6e3b0e;
    border-color: #6e3b0e;
    color: white;
}

.carousel-indicators li.inactive{
    background-color: grey;
}

.carousel-indicators li.active {
    background-color: black;
}


.carousel-control-prev-icon {
    background-color: black;

}

.carousel-control-next-icon {
    background-color: black;
}