/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "rails_bootstrap_forms";


// Any .bd-* comment refers to CSS classes taken from the Bootstrap docs' CSS

.selt-gutter { // .bd-gutter
    --bs-gutter-x: 3rem;
}

.selt-badge {
    --bs-badge-padding-x: 0.5em;
    --bs-badge-font-size: 0.65em
}

.top-15 {
    top: 15% !important;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.yellow {
    color: var(--bs-yellow);
}
