<!-- Taken from https://getbootstrap.com/docs/5.2/examples/navbars/ -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Team-001</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#appNavbar"
            aria-controls="appNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="appNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= navbar_link "Home", root_path %>
        <%= navbar_link "Products", products_path %>
        <%= navbar_dropdown "Categories" do %>
          <% Category.all.each do |category| %>
            <%= dropdown_link category.name, "#" %>
          <% end %>
        <% end %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
