<%#
Taken from https://getbootstrap.com/docs/5.2/examples/navbars/
along with some modifications
%>
<header class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <nav class="container-xl flex-wrap flex-lg-nowrap" aria-label="Navigation">
    <a class="navbar-brand" href="#">Team-001</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#appNavbar"
            aria-controls="appNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="appNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= navbar_link "Home", root_path %>
        <%= navbar_link "Products", products_path %>
        <%= navbar_dropdown "Categories" do %>
          <% Category.all.each do |category| %>
            <%= dropdown_link category.name, "#" %>
          <% end %>
        <% end %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>
</header>
