<h1>Product Page</h1>

<%= bootstrap_form_with model: @user, url: signup_submit_path, method: :post, local: true do |f| %>
  <%= f.check_box :filter_1, label: 'Filter 1' %>
  <%= f.check_box :filter_2, label: 'Filter 2' %>
  <%= f.check_box :filter_3, label: 'Filter 3' %>
<% end %>

</body>
</html>
  <!-- Product Listings
  <div class="products" id="productListings">
     Product listings will be dynamically generated here -->
    <!-- Placeholder content
    <div class="product">
      <h3>Product 1</h3>
      <p>Description of Product 1</p>
      <p>$15.55</p>
    </div>
    <div class="product">
      <h3>Product 2</h3>
      <p>Description of Product 2</p>
      <p>$55.51</p>
    </div>
    End of placeholder content
  </div> -->
